* {
  margin: 0;
  padding: 0;
}
.menu {
  display: block;
  background-color: aliceblue;
  padding: 8px;
  border-bottom: solid 1px thistle;
  margin-bottom: 20px;

  li {
    display: inline-block;
    margin-left: 20px;

    a {
      text-decoration: none;
      color: darkmagenta;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
