<h1>draw works!</h1>
<button>Click me!</button>
<p>No of items: {{numberOfCircles}}</p>
<div id="gfx_holder" style="width:1000px; height:800px; border:red solid 1px;box-sizing: border-box; "></div>
<pre id="json" style="overflow:auto;position:absolute; top:10px; right:10px; width:350; height:500;background:white;border:1px solid gray">
</pre>
